In [1]:
import numpy as np

### DatatTypes & Attributes

In [2]:
# NumPy's main datatype is ndarray
a1 = np.array([1, 2, 3])
a1

array([1, 2, 3])

In [3]:
type(a1)

numpy.ndarray

In [4]:
a2 = np.array([[1, 2.0, 3.3],
               [4, 5, 6.5]])

a3 = np.array([[[1, 2, 3],
                [4, 5, 6],
               [7, 8, 9]],
              
                [[10, 11, 12],
               [13, 14, 15],
                [16, 17, 18]]])

In [5]:
a1.shape

(3,)

In [6]:
a2.shape

(2, 3)

In [7]:
a3.shape

(2, 3, 3)

In [8]:
a1

array([1, 2, 3])

In [9]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [10]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [11]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [12]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [13]:
a1.size, a2.size, a3.size

(3, 6, 18)

In [14]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [15]:
# Create a DataFrame from a NumPy array
import pandas as pd

df = pd.DataFrame(a2)

In [16]:
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

   ## Creating Arrays

In [17]:
sample_array = np.array([1,2,3])
sample_array

array([1, 2, 3])

In [18]:
sample_array.dtype

dtype('int32')

In [19]:
ones = np.ones((2, 3))

In [20]:
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [22]:
ones.dtype

dtype('float64')

In [23]:
type(ones)

numpy.ndarray

In [24]:
zeros = np.zeros((2, 3))

In [25]:
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [27]:
range_array = np.arange(0, 10, 2)
range_array

array([0, 2, 4, 6, 8])

In [29]:
random_array = np.random.randint(0, 10, size=(3, 5))
random_array

array([[7, 5, 6, 9, 1],
       [3, 5, 7, 9, 6],
       [1, 2, 1, 6, 3]])

In [30]:
random_array.size

15

In [31]:
random_array.shape

(3, 5)

In [33]:
random_array_2 = np.random.random((5, 3))
random_array_2

array([[0.54940435, 0.1939845 , 0.39788509],
       [0.59117288, 0.9260855 , 0.60914883],
       [0.11998158, 0.20666181, 0.42668512],
       [0.57652226, 0.62296149, 0.45421518],
       [0.02504462, 0.66586756, 0.21008818]])

In [34]:
random_array_2.shape

(5, 3)

In [35]:
random_array_3 = np.random.rand(5, 3)
random_array_3

array([[0.23881665, 0.19980565, 0.2443394 ],
       [0.57343951, 0.46710702, 0.71412598],
       [0.95312551, 0.69717579, 0.7158339 ],
       [0.66618644, 0.29432138, 0.63371244],
       [0.15258528, 0.16735006, 0.10522786]])

In [36]:
# Pseudo_random numbers
np.random.seed()